@model IEnumerable<TimelineProject.Data.Models.Article>

@{
    ViewBag.Title = "Index";
}

    <body>
        <h2>Articles</h2>
        <br />

        @*Character Articles*@
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#characterArticles" aria-expanded="false" aria-controls="characterArticles">
            @Html.Label("Characters")
        </button>

        <div class="collapse" id="characterArticles">
            <table id="articleTable" class="table dataTable table-hover table-striped">

                @foreach (TimelineProject.Data.Models.Article article in Model)
                {
                    if (article.Type == "Character")
                    {

                        <tr>
                            <td width="20%">@article.Title</td>
                            <td width="60%">@article.Description</td>
                            <td width="10%">
                                <a>Open</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>

        <br />
        <br />

        @*World Articles*@
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#worldArticles" aria-expanded="false" aria-controls="worldArticles">
            @Html.Label("World")
        </button>

        <div class="collapse" id="worldArticles">
            <table id="articleTable" class="table dataTable table-hover table-striped">

                @foreach (TimelineProject.Data.Models.Article article in Model)
                {
                    if (article.Type == "World")
                    {

                        <tr>
                            <td width="20%">@article.Title</td>
                            <td width="60%">@article.Description</td>
                            <td width="10%">
                                <a>Open</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>

        <br />
        <br />

        @*World Articles*@
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#otherArticles" aria-expanded="false" aria-controls="otherArticles">
            @Html.Label("Other")
        </button>

        <div class="collapse" id="otherArticles">
            <table id="articleTable" class="table dataTable table-hover table-striped">

                @foreach (TimelineProject.Data.Models.Article article in Model)
                {
                    if (article.Type == "Other")
                    {

                        <tr>
                            <td width="20%">@article.Title</td>
                            <td width="60%">@article.Description</td>
                            <td width="10%">
                                <a>Open</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>

        <br />
        <br />

    </body>

<style>
    body {
        width: 80%;
        align-content: center;
        margin: auto;
        padding: 100px;
    }
</style>